// Close Button
.closeBtn {
    -fx-background-color: #1A1A1A;
    -fx-text-fill: #2E2E2E;
    -fx-background-radius: 0;
}
.closeBtn:hover {
    -fx-background-color: red;
    -fx-text-fill: #2E2E2E;
    -fx-background-radius: 0;
}

// Minimize Button
.minimizeBtn {
    -fx-background-color: #1A1A1A;
    -fx-text-fill: #2E2E2E;
    -fx-background-radius: 0;
}
.minimizeBtn:hover {
    -fx-background-color: white;
    -fx-text-fill: #2E2E2E;
    -fx-background-radius: 0;
}

// Output Box
.outputBox {
    -fx-background-color: #1A1A1A;
    -fx-text-fill: cyan;
}